<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= page.title %></title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Bubble works</a>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <h1><%= page.title %></h1>
        <nav>
          <% if page.parent_navigation.count > 0 %>
            <ol class="breadcrumb">
              <% page.parent_navigation.each do |title, url| %>
                <li><a href="<%= url %>"><%= title %></a></li>
              <% end %>
              <li class="active"><%= page.title %></li>
            </ol>
          <% end %>
          <% if page.child_navigation.count > 0 %>
            <div class="btn-group" role="group">
              <% page.child_navigation.each do |title, url| %>
                <a href="<%= url %>" class="btn btn-default" role="button"><%= title %></a>
              <% end %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
      <div id="thumbnails" class="grid">
        <div class="grid-sizer"></div>
        <% page.thumbnails.each do |url| %>
          <div class="grid-item">
            <img src="<%= url %>" />
          </div>
        <% end %>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
