.grid {
  margin: 20px -10px;
}

.grid-sizer, .grid-item {
  padding: 10px;
  width: 33.3%;
}

@media (max-width: 900px) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
